.manage__container {
  gap: 20px;
  max-width: 100vw;
  color: white;
  display: flex;
  padding: 10% 6%;
  padding-bottom: unset;
  background-repeat: no-repeat;
  border-top-right-radius: 150px;
  background-image: url("https://payxtoday.com/images/platform_bg.png");
  @media (max-width: 600px) {
    padding: 20% 10%;
    padding-bottom: unset;
  }
  .manage__desc {
    p {
      margin: 10px 0;
      font-size: 20px;
    }
    .desc__p {
      margin: 40px 0;
    }
  }
  img {
    width: 46%;
  }
}

@media (max-width: 1300px) {
  .manage__container {
    flex-direction: column;
    align-items: center;
  }
}
